h1 {
  font-size: 1.25rem;
}

.Container {
  background-color: white;
  color: #bec0bf;
  margin-top: 2vh;
  margin-right: 2vw;
  margin-left: 2vw;
  border: 1px solid grey;
  margin-bottom: 20vh;
  padding-bottom: 5vh;
  width: 94vw;
  min-height: 60vh;
  padding-left: 1vw;
}

.OrgText {
  color: #343A40;
  margin: 30px;
  margin-top: 0px;
  margin-left: 40px;
}

body {
  background-color: #ffbf00;
  background-image: none;
}

.Orgdata {
  color: #343A40;
  margin: 20px;
  width: 45%;

}

.OrgContactTitle {
  color: #343A40;
  margin-top: 20px;
  margin-left: 10px;
  text-decoration: underline;
}

.Address {
  color: #343A40;
  margin: 20px;
  width: 45%;
}

.Postalcode {
  color: #343A40;
  margin: 20px;
  width: 10%;
}

.City {
  color: #343A40;
  margin: 20px;
  width: 30%;
}

.Button {
  margin: 5px;
}

.OrgFormContainer {
  border: 1px solid grey;
  margin: 20px;
  display: block;
  width: 35%;
  border-radius: 5px;
}

.Credential {
  color: #343A40;
}

.RowContainer {
  align-items: left;
  text-align: left;
  justify-content: left;
}

.PostCodeContainer {
  border: 1px solid grey;
  width: 35%;
  border-radius: 5px;
}

.PostCityContainer {
  border: 1px solid grey;
  width: 65%;
  border-radius: 5px;
}

.OrgFormContainer2 {
  margin: 20px;
  display: flex;
  width: 35%;
  border-radius: 5px;
}

.OrgFormContainer3 {
  background-color: #9fd4ba;
  margin: 20px;
  display: flex;
  width: 35%;
  border-radius: 5px;
}

.OrgFormContainer3:hover {
  background-color: #82a594;
  margin: 20px;
  display: flex;
  width: 35%;
  border-radius: 5px;
}

.ErrorMessages {
  margin: 1.25rem;
  color: red;
}

.Label {
  font-style:italic;
  font-size: 13px;
  color: #747775;
}

.LabelALERT {
  font-style:italic;
  font-size: 13px;
  color: #ee0000;
}

.OrganizationLabel {
  margin: .5rem 0 0 .5rem;
  color: #747775;
}

.OrgFormContainer input {
  margin: 0 .5rem .5rem;
}

/* mobile view */
@media screen and (max-width: 800px) {
  .OrgFormContainer {
    width: 100%;
  }
 .OrgFormContainer2 {
   width: 100%;
 }
 .Button {
   width: 100%;
 }
}
