.FilterContainer {
    display: flex;
    justify-content: center;
}

.FilterBottom {
    width: 10vw;
    border-bottom: 1px solid darkgray;
    align-self: center;
    align-items:center;
    justify-content:center;
    margin: 1vh;
}

.FilterTop {
    width: 14vw;
    border-bottom: 1px solid darkgray;
    align-self: center;
    align-items:center;
    justify-content:center;
    margin: 1vh;
}

.FilterContainer {
    display: flex;
      margin-bottom: 1rem;
      margin-top: 1rem;
      padding: 1rem;
      width: 95%;
      min-height: 20vh;
      align-self: center;
      background-color: #f8f9fa;
      text-align: left;
  }

.SelectorHeader {
    font-size: 1rem;
    font-weight: bold;
}

 /* mobile view */
 @media screen and (max-width: 500px) {
    .FilterBottom {
        width: 50w;
    }
    .FilterTop {
        width: 40vw;
    }
    .SingleFilter {
      padding: 2px;
    }
}

.Loader {
  justify-content: center;
}
