/* tasks view */
.Img {
  height: 66%;
}

.Text {
color: gray;
font-weight: bold;
}

.TextArea {
margin: 1vh;
}

.fade-modal-show {
width:100%;
}

.Card {
margin: 2vw 0.75vw 2vw 0.75vw;
border-radius: 5px;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: .3s;
height: 25vw;
width: 95%;
background-color: #ffffff;
font-size: 0.5rem;
border: none;
}

.Card:hover {
margin: 1vw;
margin-left: 0;
height: 27vw;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* single task view */
.SingleDescription {
margin: 1rem;
}

.TaskInformation {
  display: flex;
  flex-direction: column;
  margin: 1vw;
  padding: 1vw;
  flex: 3;
  border: 2px solid #fff;
}

.ImageContactContainer {
  display: flex;
  flex-direction: column-reverse;
}

.SingleImage {
  padding: 1vw;
  width: 90%;
  object-fit: contain;
  margin: auto;
}

.InfoContainer {
  display: flex;
  flex-direction: column;
}
.SingleContactInfo {
border: 2px solid #ffc107;
text-align: center;
margin: 2vw;
display: flex;
flex-direction: column;
flex: 4;
}

.SingleContactInfoHeader {
padding: 1vw;
font-size: 2rem;
text-align: center;
margin-top: 1vw;
margin-right: 1vw;
border: 2px solid #ffc107;
display: flex;
flex-direction: column;
flex: 1 1;
max-width: 28%;
}

.MapContainer {
  width: 82%;
  height: 320px;
}

.ContactMessageLabel {
  margin: .5rem 0 0;
}

/* Single task mobile view */
@media screen and (max-width: 500px) {
/*swap direction on smaller screen */
  .SingleDescription {
    font-size: 0.8em;
    float: none;
    padding-left: 1vw;
    margin: 1rem;
  }
  .ImageContactContainer {
    font-size: 0.8em;
  }
  .SingleImage {
    max-width: 98%;
    float: none;
    height: fit-content;
  }
  .InfoContainer {
    flex-direction: column;
  }
  .SingleContactInfo {
    max-width: 98%;
    float: none;
    border: 2px solid #ffc107;
  }
  .Card {
    height: 80vw;
    margin: 1vw;
    font-size: 0.5rem;
  }
  .Formcontainer {
    align-self: center!important;
  }
  .MapContainer {
    width: 100%;
  }

  .ValueTable {
    width: 100%;
  }
}

.FormContainer {
margin: 0 2rem 2rem;
max-width: 70%;
min-width: 60%;
align-self: start;
}

.Formtitle {
font-size: 1rem;
}
