@media screen and (max-width: 770px) {
  /*swap direction on smaller screen */
  .Container {
    flex-direction: column;
    align-items: center;
  }
  .Container .DescriptionContainer {
    width:91vw;
    margin-bottom: 3vh;
  }
  .Container .LoginContainer {
    width:91vw;
    border: 0;
  }
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

.Container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30vh;
}

.DescriptionContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  text-align: center;
  justify-content: space-evenly;
  margin-right: 3vw;
  padding-bottom: 4vh;
  height: fit-content;
  background-color: #fff;
  border: 1px solid grey;
}

.DescriptionContainer:focus-within {
  outline: rgba(0, 103, 244, 0.247) auto 2px;
}

.DescriptionCard {
  display: flex;
  flex: 1;
}

.DescriptionCard h2 {
  margin: 0;
}

.CardContainer {
  padding: 3vw;
  overflow: visible;
  display: flex;
  flex-direction: column;
}

.RegisterCardContainer {
  display: inline-block;
}

.LoginContainer {
  width: 42%;
  padding-left: 4vw;
  padding-bottom: 4vh;
  margin-top: 0vw;
  border-left: 0.5vw solid white;
  border-left-style: dotted;
}

.LoginForm {
  /* padding-left: 3vw;
  min-width: 290px;
  width: 28vw; */
}

.Card {
  display: flex;
  flex: 1;
  text-align: center;
  border: 1px solid grey;
}

.Accord {
  width: 100%;
  cursor: default !important;
}

.Accord:hover {
  display: flex;
  justify-content: center;
  flex: 1;
  background-color: hsl(216, 94%, 94%);
}

.Accord:focus {
  box-shadow: none;
}

.Link {
  display: contents;
}

.Button1 {
  padding-left: 3vw;
  padding-right: 3vw;
}

.ButtonContainer {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.Loginalert {
  margin: 15px;
}

.loginSuccess {
  border: 1px solid grey;
}

.Button {
  margin-top: 20px;
}

.DescriptionCard :focus {
  border: 2px solid hsl(216, 94%, 73%);
  background-color: hsl(216, 94%, 94%);
}

.ControlPanelLinks {
  list-style: none;
  padding-inline-start: 0;
}

.navLink:hover {
  border: 1px solid grey;
  border-radius: 5px;
  margin: -1px;
}


@media screen and (max-width: 770px) {
  .DescriptionContainer {
    margin: 0;
    order: 2;
  }

  .LoginContainer {
    margin: 0;
    padding: 0;
    order: 1;
  }
}
