body {
  background-color: #ffbf00;
  background-image: none;
}

.SecondaryTitle {
  font-size: 1.1rem;
}

.Tabs {
  background-color: #e5e5e5;
  display: flex;
  justify-content: flex-start;
}

.SingleTab {
  background-color: white;
  margin: 0 1.5rem;
}

.Container {
  background-color: white;
  color: #bec0bf;
  margin-top: 2vh;
  margin-right: 2vw;
  margin-left: 2vw;
  border: 1px solid grey;
  margin-bottom: 20vh;
  padding-bottom: 10vh;
  width: 94vw;
  min-height: 60vh;
}

.CardContainer {
  padding-bottom: 2vh;
  border-bottom: 2px solid white;
  border-bottom-style: dashed;
  width: 80vw;
}

.ButtonAdd {
  background-color: #218639;
  color: white;
}

.ButtonAdd:hover, .Button:active {
  background-color: #18632a;
}

.Text {
  color: #343A40;
  margin-right: 1.5rem;
  margin-left: .75rem;
  margin-bottom: 1.5rem;
}

.Text2 {
  color: #343A40;
  margin-bottom: 1.5rem;
  text-decoration: underline;
}

.Filename {
  font-style: italic;
  color: black;
  margin: 1vw;
}

.Textarea {
  margin-top: 1.5rem;
  margin-right: 1.5rem;
  margin-left: .75rem;
  margin-bottom: 1.5rem;
}

.Header {
  color: #343A40;
}

.Add {
  display: flex;
  justify-content: space-between;
  flex: 1;
  color: black;
  text-decoration-style: solid;
  padding: .75rem;
  background-color: #68C70F;
  cursor: default !important;
}

.Add:hover {
  background-color: #346507;
  color: white
}

.Add:focus {
  box-shadow: none;
  color: white;
  background-color: #346507;
}

.Modify {
  display: flex;
  justify-content: space-between;
  flex: 1 ;
  color: black;
  text-decoration-style: solid;
  padding: .75rem;
  background-color: #ffc107;
  cursor: default !important;
}

.Modify:hover {
  color: white;
  background-color: #826d2f;
}

.Modify:focus {
  box-shadow: none;
  color: white;
  background-color: #826d2f;
}

.Remove {
  display: flex;
  justify-content: space-between;
  flex: 1;
  color: black;
  text-decoration-style: solid;
  padding: .75rem;
  background-color: #dc3b3b;
  cursor: default !important;
}

.Remove:hover {
  display: flex;
  justify-content: space-between;
  flex: 1;
  color: white;
  background-color: #831F18;
}

.Remove:focus {
  box-shadow: none;
  color: white;
  background-color: #831F18;
}

.Bar {
  background-color: #fff;
  padding: 1vw;
  display: grid;
  flex-direction: row;
  border: 1px solid grey;
  align-items: center;
  width: 100%;
  color: #343A40;
  text-align: center;
  align-items: center;
  align-content: center;
  margin: 1vw;
  margin-left: 0px;
  margin-top: 0px;
  border-radius: 5px;
}

.Card {
  border: 0!important;
  border-radius: 0!important;
  background-color: rgba(175, 172, 172, 0.267);
}

.OrgTitle {
  margin: 15px;
  margin-bottom: 25px;
  margin-left: 20px;
  color: black;
  text-decoration: underline;
}

.Credential {
  color: #343A40;
  margin-top: 1%;
  margin-left: 20px;
}

.Postalcode {
  width: 150px;
  margin: 10px;
  margin-left: 30px;
}

.Address {
  width: 446px;
  margin: 10px;
  margin-left: 30px;
}

.City {
  width: 276px;
  margin: 10px;
}

.CredentialForm {
  width: 446px;
  margin-left: 15px;
}

.Slider {
 width: 100%;
}

.InstHeader {
    font-size: 1.1em;
    text-decoration: underline;
    color: #343A40;
    margin-right: 1.5rem;
    margin-left: .75rem;
    margin-bottom: 1.5rem;
}

.InstTitle {
  text-decoration: underline;
  color: #343A40;
  margin-right: 1.5rem;
  margin-left: .75rem;
  margin-bottom: 1.5rem;
  font-size: 1.1em;
}

.InstInfo {
  color: #343A40;
  margin-right: 1.5rem;
  margin-left: .75rem;
  margin-bottom: 1.5rem;
  font-size: 1.1em;
}

.InstTopContainer {
  padding: 1rem;
}

.InstSubTitle {
  font-weight: bold;
  color: #343A40;
  font-size: 1rem;
}

.InstHrLine {
  border: 1px solid black;
}


.speechbubble {
	position: relative;
	background: #9FD4BA;
	border-radius: .4em;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 40px;
}

.speechbubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
  border: 16px solid transparent;
	border-top-color: #9FD4BA;
	border-bottom: 0;
	margin-left: -16px;
	margin-bottom: -16px;
  text-align: center;
  align-items: center;
  align-content: center;
}

.TaskValueForm {
  justify-content: center;
}

.SliderContainer {
  display:flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
}

.Card :focus {
  border: 2px solid hsl(216, 94%, 73%);
}

.Labels {
  color: black;
  margin-bottom: 0px;
}

.ContentsLink {
  border: 2px solid grey;
  border-radius: 5px;
  padding: 5px;
  margin-top: 20px;
  display: inline-block
}

.Accordion:focus-within {
  outline: rgba(0, 103, 244, 0.247) auto 2px;
}

@media screen and (max-width: 500px) {
  .Bar {
    flex-direction: column;
  }
}
