@media screen and (max-width: 500px) {
    .rowContainer {
        width: 100%!important;
      }
    .Container .Button1 {
        font-size: 2em;
    }
    .Tooltip {
        justify-content: center;
        width: 100%!important;
    }
    .TooltipImage {
        margin-right: 0;
    }
    .TooltipText {
        width: 90vw!important;
        padding: 5vw!important;
    }
    .InfoSymbol {
        margin: 0!important;
    }

    .InfoContainer {
        flex-direction: column;
    }

    .Info {
        width: 100%;
        font-size: 0.8rem;
        align-self: center;
    }
    .Header1 {
        font-size: 1.3rem!important;
    }
    .Header2 {
        width: fit-content!important;
    }
}

.PageContainer {
    margin: 0;
    border-bottom: 8px solid #59b7eefa;
    border-bottom-style: dotted;
    background-size: cover;
    display: flex;
    flex-direction: column;

    /*images from https://unsplash.com */
}
.Container {
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 4vw;
    align-items: center;
    align-self: center;
}
.rowContainer {
    display: grid;
    flex-direction: column;
    width: 58vw;
}
.Header1 {
    color: white;
    background: linear-gradient(to right, #007bff 0%, #5b256d 100%);
    border-radius: 2px;
    padding: 1rem;
    border-radius: 6px;
    border: 2px double rgba(0, 0, 0, 0.651);
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 0;
}
.Header2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2rem;
    color: rgba(12, 12, 12, 0.8);
    padding: 0.5em;
    border-radius: 0;
}
.Description1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: white;
    border-radius: 6px;
    border: 2px double rgba(0, 0, 0, 0.651);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}

.AfterDescription {
    width: 14vw;
    border-bottom: 1px solid darkgray;
    align-self: center;
    align-items:center;
    justify-content:center;
    margin: 4vh;
  }

.ButtonContainer {
    display: flex;
    justify-content: center;
    margin: 1.5rem 0;
}

.Button1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 2rem;
    background-color: #5b256d;
    border-color: #5b256d;
    color: white;
    border-radius: 3px;
    text-decoration: none;
    transition: 0s;
    margin: 1rem;
}

.SmallButton {
  background-color: #5b256d;
  color: white;
  padding: 0.33rem;
  border-radius: 3px;
}

.KaikkiTehtavatInstruction {
  background-color: #282c31;
  color: white;
  padding: 0.33rem;
}

.Button1:hover, .Button1:active {
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22) !important;
    background-color: #431b50 !important;
    border-color: #431b50 !important;
}

a:hover {
    text-decoration: none!important;
}

.Description2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(248, 249, 250, 0.80);
    border: 2px solid grey;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-bottom: 2vw;
    margin-right: 3vw;
    margin-left: 3vw;
}

.Link {
    display: contents;
}

.Flags {
    background-color: #ffffffe6;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.FlagList {
    padding: 0;
    margin: 0;
}

.VipuVoimaaFlag {
    width: 120px;
    height: 91px;
    padding: 10px;
    margin: 2px;
    margin-bottom: 0;
}

.EuroopanUnioniFlag {
    width: 119px;
    height: 122px;
    padding: 10px;
    margin: 2px;
    margin-bottom: 0;
}

.TooltipContainer {
    position: relative;
    background-color: white;
}
.Tooltip {
    display: flex;
    background-color: #fff;
    color: rgb(19, 17, 17);
    border-radius: 6px;
    border: 2px double rgba(0, 0, 0, 0.651);
    padding: 2vw;
    padding-bottom: 0;
}
.TooltipImage {
    width: 80px;
    height: 80px;
    margin-right: 2vw;
}
.TooltipText {
    height: fit-content;
    width: 75%;
    text-align: left;
    font-size: 1rem;
    list-style: none;
    padding-left: 0;
}

.TooltipText li {
    margin-bottom: 1.5rem;
}
