.Navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}
.AdminpaneContainer {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
}
.SignOut {
    color: #b79fc0!important;
    border-bottom: none!important;
}
.SignOut:hover {
    color: #f75f5f!important;
}

@media screen and (max-width: 767px) {
    .AdminpaneContainer {
        margin-left: unset!important;
        justify-content: flex-start;
        flex-direction: column;
    }
    .AdminpaneMobile {
        flex-direction: column;
        margin-left: 5vw;
    }
}