@media screen and (max-width: 500px) {
    /*swap direction on smaller screen */
    .FooterContainer .FooterCol{
      padding-left: 10vw;
      padding-right: 10vw;
    }
    .FooterContainer .FooterImage {
        max-width: 90px;
        max-height: 66px;
    }
  }

.FooterContainer {
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 1vh;
}

.ContactInfo {
    margin-top: 1vh;
}

.ContactInfo p {
    margin: 0;
}

.FooterImage {
    max-width: 180px;
    max-height: 132px;
}

.FontSizeContainer {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.FontSizeLarge {
    font-size: 2rem;
    border: none;
    background-color: white;
    margin: .2rem;
    z-index: 10;
}

.FontSizeLarge:hover {
    text-decoration: underline;
}

.FontSizeMedium {
    font-size: 1.5rem;
    border: none;
    background-color: white;
    margin: .2rem;
    z-index: 10;
}

.FontSizeMedium:hover {
    text-decoration: underline;
}

.FontSizeNormal {
    border: none;
    background-color: white;
    margin: .2rem;
    z-index: 10;
}

.FontSizeNormal:hover {
    text-decoration: underline;
}

.SaavutettavuusLinkContainer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .FontSizeContainer {
        display: none;
    }
}