.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90vw;
}

.Description {
    display: flex;
    align-self: center;
    margin-bottom: 2vh;
    font-size: 1.3rem;
    margin-top: 2vh;
    color: rgb(32, 32, 32);
    border-radius: 1px;
    padding: 1.2vh;
    font-style: normal;
}

.AfterDescription {
  width: 14vw;
  border-bottom: 1px solid darkgray;
  align-self: center;
  align-items:center;
  justify-content:center;
  margin-bottom: 5vh;
  margin-top: 2vh;
}

.Categories {
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    border: 2px solid grey;
    padding-bottom: 2vw;
    text-align: center;
    margin: 2vh;
    margin-bottom: 3vh;
    flex-direction: column;
}

.CategoryItem {
    display: grid;
    flex: 1;
    margin: 3vh;
    justify-content: center;
}

.Suggestions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #dcf0de;
  color: #343A40;
  padding: 2vw;
  margin: 2vw;
  border: 1.5px solid white;
  border-radius: 3px;
}

.Images {
  height: 128px;
  width: 128px;
  margin: auto;
}

.searchButton {
  margin-bottom: 2vh;
  width: 30vw;
  font-size: 2rem;
  background-color: #5b256d;
  border-color: #5b256d;
}

.searchButton:active {
  background-color: #431b50!important;
  border-color: #431b50!important;
}

.searchButton:hover {
  background-color: #431b50;
  border-color: #431b50;
}

.searchButton:disabled {
  background-color: #431b50;
  border-color: #431b50;
}

.tasksContainer {
  background: rgba(235, 226, 226, 0.79);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 2px;
  justify-content: center;
}

.FilterContainer {
  display: flex;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 95%;
  min-height: 20vh;
  align-self: center;
  background-color: #f8f9fa;
  border: 2px solid grey;
}

.TopTasks {
  justify-content: center;
}

.allTasksLink {
  color: #235594;
}
.allTasksLink:hover {
  border: 1px solid #235594;
  color: #1c4577;
  border-radius: 5px;
  margin-bottom: -2px;
}

 /* mobile view */
 @media screen and (max-width: 500px) {
  .SingleFilter {
    min-height: 15vh;
  }
  .Description {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .CategoryItem {
    border-bottom: solid 1px rgb(124, 123, 123);
    padding-bottom: 3rem;
  }
  .SingleFilter {
    margin-bottom: 2rem;
  }

}
