.Container {
  background-color: white;
  color: #bec0bf;
  border: 1px solid grey;
  margin-bottom: 20vh;
  padding-bottom: 10vh;
  min-height: 60vh;
  margin: 1.3rem;
  margin-top: 2vw;
}

.Tabs {
  background-color: #e5e5e5;
  display: flex;
  justify-content: flex-start;
}

.SingleTab {
  background-color: white;
  margin: 0 1.5rem;;
  margin-bottom: 3vh;
}

.OrgSelectorContainer {
  width: 50%;
  color: #343A40;
}

.OrgText {
  color: #343A40;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}


.OrgAccord:focus-within {
  outline: rgba(0, 103, 244, 0.247) auto 2px;
}

.Card {
  border: 0!important;
  border-radius: 0!important;
  background-color: rgba(175, 172, 172, 0.267);
}

.Modify {
  display: flex;
  justify-content: space-between;
  flex: 1;
  color: black;
  text-decoration-style: solid;
  padding: .75rem;
  background-color: #ffc107;
  cursor: default!important;
}

.Modify:hover, .Modify:focus {
  color: white;
  background-color: #826d2f;
}

.AccordionTitle {
  font-size: 1rem;
  line-height: inherit;
  margin: 0;
}

body {
  background-color: #ffbf00;
  background-image: none;
}

.Orgdata {
  color: #343A40;
  margin: auto;
  padding: 2vw;
  width: 50%;
}

.OrgContactTitle {
  color: #343A40;
  margin-top: 20px;
  margin-left: 20px;
  text-decoration: underline;
}

.Address {
  color: #343A40;
  margin-left: 0;
  padding: 2vw;
  width: 50%;
  align-self: flex-start;
}

.Postalcode {
  color: #343A40;
  margin: auto;
  padding: 2vw;
  width: 50%;
}

.City {
  color: #343A40;
  margin: auto;
  padding: 2vw;
  width: 50%;
}

.Remove {
  display: flex;
  justify-content: space-between;
  flex: 1;
  color: black;
  text-decoration-style: solid;
  padding: .75rem;
  background-color: #dc3b3b;
  cursor: default!important;
}

.Remove:hover, .Remove:focus {
  background-color: #831F18;
  color: white;
}

.CardContainer {
  padding-bottom: 2vh;
  width: 80vw;
}

.Button {
  margin: 5vh 2vw;
  width: 100%;
  background-color: #008a00;
}

.OrgFormContainer {
  display: grid;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .Container {
    margin: 1vw;
  }
  .RowContainer {
    margin: auto;
    width: 100%;
    display: inline-grid;
  }
  .OrgSelectorContainer {
    width: 100%;
  }
  .Orgdata {
    width: 100%;
  }
  .Address {
    width: 100%;
  }
  .Postalcode {
    width: 100%;
  }
  .City {
    width: 100%;
  }
}


