@media screen and (max-width: 500px) {
  /*smaller screen*/
  body {
    background-size: contain!important;
  }
}

html {
  font-size: 16px;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: #275795;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/background-wall.jpg');
  background-color: #f1f1f1!important;
  background-size: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  margin-top: 6vw;
}

.screenreader {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px; width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.DialogOverlay {
  z-index: 1;
  position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}

.modal-width {
  max-width: 90%
}

.skip-to-content {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}
.skip-to-content:focus, .skip-to-content:active {
  background: white;
  text-decoration: underline;
  color: blue;
  left: 0;
  top: 0;
  width: auto;
  height: auto;
  overflow: auto;
  margin: 10px;
  padding: 5px;
  font-size: 1rem;
  z-index: 999;
}

.bg-sun-vuoro {
  background-color: #5b256d;
}

.sun-vuoro-btn {
  background-color: #5b256d;
  border-color: #5b256d;
  color: white;
}

.sun-vuoro-btn:hover {
  background-color: #431b50;
}

.save-btn {
  background-color: #008a00;
}

.save-btn:hover {
  background-color: #016301;
}

.Navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
}

.Navbar .navbar-nav .nav-link {
  color: #fff;
}

.Navbar .navbar-nav .nav-link.active {
  border-bottom: 1px solid #fff;
  padding-bottom: 7px;
}

/* Override rc-slider styles */
.rc-slider-handle:focus {
  outline: rgba(0, 103, 244, 0.247) auto 2px !important;
}

.rc-slider-mark-text {
  color: #737373 !important;
}

/* Override multi-select styles */
#multiselectContainerReact >div >span {
  background-color: #027bcc;
}

@media screen and (max-width: 767px) {
  .Navbar .navbar-nav .nav-link.active {
    border-bottom: none;
    padding-bottom: 8px;
  }
}